= present @team do |team_presenter|

  %h1 team: #{@team.name}

  %h2 members

  .user-badges.js-masonry{:data => { :masonry_options => '{ "gutter": 10, "itemSelector": ".user-badge" }'}}
    = present @users, :team => @team do |user_presenter|
      = user_presenter.badge

  %p
    = link_to "create a message", new_team_message_path(@team)
    &bull;
    = link_to "add a member", new_team_member_path(@team)

  %h2 messages

  = render :partial => "messages/list", :locals => { :messages => @messages }

  %p
    = link_to "create a message", new_team_message_path(@team)

  %p= link_to "back to teams", teams_path
