%h2 Activate Your StatusKeeper Account

%h1 #{@inviter} invited you to join #{@team}

%p= link_to "Click here to accept #{@inviter}'s invitation to join #{@team}", edit_user_activation_url(@user, :secret_code => @user.secret_code)
