%h1 create a user

= simple_form_for @user, :url => users_path(:team_id => @team.id) do |f|

  = f.input :email, :as => :string

  - if @team == nil
    = f.input :password, :as => :password

  = f.submit

%p
  perhaps you'd like to
  = link_to "sign in", new_user_session_path
  instead?
