!!!
%html

  %head

    %title Rails Skeleton 3.2

    = stylesheet_link_tag :application, media: "all"
    = javascript_tag :application
    = csrf_meta_tags

  %body

    .container

      - if flash[:error].present?
        .alert.alert-error= flash[:error]
      - if flash[:notice].present?
        .alert.alert-success= flash[:notice]

      = yield

    - if current_user

      .container

        = link_to "teams", teams_path
        &mdash;
        signed in as
        = current_user.email
        &mdash;
        = link_to "sign out", user_session_path(current_user), :method => :delete

    = javascript_include_tag :application
    = onload_tag
