!!!
%html

  %head

    %title Rails Skeleton 3.2

    = stylesheet_link_tag :application, media: "all"
    = csrf_meta_tags

  %body

    .container

      - if flash[:error].present?
        .alert.alert-error= flash[:error]
      - if flash[:notice].present?
        .alert.alert-info= flash[:notice]

      = yield

    = javascript_include_tag :application
    = onload_tag
